<div class="container">
    <div class="media care">
        <img class="mr-3 rounded-pill" width="400" height="300" src="assets/images/paws.jpg" alt="feet and dogs paws">
        <div class="media-body">
            <h5 class="mt-0">Walking in hot weather</h5>
            <p>
                Like us your dog needs to be looked after in the heat.
                Below are some helpful tips to best look after your dog.
            </p>

            <button class="btn btn-primary toggleInfo" type="button" (click)="showCareInfo()">
                {{careInfoButtonText}}
            </button>

            <!-- Collapsed content -->
            <div class="careInfo" *ngIf="careInfo">
                <ol class="list-group list-group-flush list" type="1" list-group-item-danger>
                    <li class="list-group-item">Make sure your dog always has access to fresh clean water.</li>
                    <li class="list-group-item">
                        Make sure your dog has access to shade or cooler rooms. Pull down blinds or draw
                        curtains if necessary.</li>
                    <li class="list-group-item">As a cooling treat, you can give your dog a handful of frozen peas. You
                        can also add ice
                        to their water or freeze their favourite treat and give it as an ice-cream.</li>
                    <li class="list-group-item">If you want to walk your dog, try to do so in the early morning and
                        evenings. If you are
                        walking your dog on concrete, touch the concrete with your palm as a test. If it feels hot
                        or you can't keep you hand comfortably on the concrete for 5 seconds, it is too hot to walk
                        your dog with their sensitive pads.</li>
                    <li class="list-group-item">If you do walk you dog, make sure you carry water for them.</li>
                    <li class="list-group-item">Never leave your dog in the car even with the windows open, this can
                        prove fatal if the
                        car overheats. This can happen in less than 5 minutes.</li>
                    <li class="list-group-item">Be extra vigilant with older or overweight dogs as they are more prone
                        to overheating. </li>
                    <li class="list-group-item">To avoid sunburns, put some dog safe sun cream on their ears and noses.
                        Especially if it's
                        a white or light coloured dog.</li>
                    <li class="list-group-item">If you suspect your dog is suffering from heatstroke, contact the vet
                        immediately. Signs
                        include:
                        <ol>
                            <li>Heavy panting</li>
                            <li>Excessive drooling</li>
                            <li>Lethargy</li>
                            <li>Uncoordinated movements</li>
                            <li>Vomiting</li>
                            <li>Collapsing</li>
                        </ol>
                    </li>
                    <li class="list-group-item">Keep up to date with their anti-flea and tick lotions, as both are more
                        prevalent during the
                        summer months.</li>

                </ol>
            </div>

        </div>
    </div>
    <hr />
    <div class="media care">
        <div class="media-body">
            <h5 class="mt-0 mb-1">Feeding & weight</h5>
            <p>
                Knowing your dogs ideal weight and how much you should be feeding it.
                The below tips will help you to understand how much to be feeding them.
            </p>
            <button class="btn btn-primary toggleInfo" type="button" (click)="showWeightInfo()">
                {{weightInfoButtonText}}
            </button>

            <div class="weightInfo" *ngIf="weightInfo">
                <ol class="list-group list-group-flush list" type="1" list-group-item-danger>
                    <li class="list-group-item">Always listen to your vet when it comes to feeding and weight.</li>
                    <li class="list-group-item">Ask your vet what your dog's ideal weight should be.</li>
                    <li class="list-group-item">A puppy will need to fed more often than an older dog. This should be
                        discussed with the
                        vet to suit the breed of your dog. Age and breed factor greatly in what and how much
                        your dog should be given.</li>
                    <li class="list-group-item">Unless directed by a vet, you can give your dog a couple of appropriate
                        snacks and treats
                        throughout the day.</li>
                    <li class="list-group-item">Try not to give your dog human food. If you do give your dog meat, do
                        not put any
                        seasoning on it. This includes salt. You can ask your vet what human food is safe for dogs
                        to eat.</li>
                    <li class="list-group-item">There are some foods that should never be given to dogs. These include:
                        <ol>
                            <li>Chocolate.</li>
                            <li>Grapes or raisins.</li>
                            <li>Onions.</li>
                            <li>Raw potatoes.</li>
                            <li>Seeds from fruit such as apples (this can contain levels of cyanide).</li>
                            <li>Rinds of fruit like watermelons.</li>
                            <li>Small poultry bones or bones that easily splinter (they can lodge in your dog's
                                throat).</li>
                        </ol>
                    </li>
                    <li class="list-group-item">Your dog will have an internal clock, so try and feed your dog around
                        the same time
                        every day.</li>
                </ol>
            </div>
        </div>
        <img class="ml-3 rounded-pill" width="400" height="300" src="assets/images/food.jpg" alt="Dog with food">
    </div>
</div>